.birthday-badge{
    position: absolute;
    top: 8px;
    right: 8px;
    color: black
}

.grid-item {
    cursor: pointer;
}

.zooming {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
}
.avatar {
    background-size: 100% 100%;
}

.defaultAvatar{
    background-size: 50% 50%;
}
.zooming.avatar:hover {
    cursor: pointer;
    background-size: 120% 120%;
}
.zooming.defaultAvatar:hover {
    cursor: pointer;
    background-size: 70% 70%;
}

#toaster {
    width: 100%;
    position: absolute;
}

md-toast {
    margin: 0 auto;
    width: 600px;
    display: block;
    position: relative;
}

.modal--area {
    margin: 0;
}