.birthday-badge{
    position: absolute;
    top: 8px;
    right: 8px;
    color: black
}

.grid-item {
    cursor: pointer;
}

.grid-item:hover img{
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
    -ms-transform:scale(1.15,1.15);
    -o-transform:scale(1.15,1.15);
}
.grid-item img{
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

#toaster {
    width: 100%;
    position: absolute;
}

md-toast {
    margin: 0 auto;
    width: 600px;
    display: block;
    position: relative;
}