<div flex ng-cloak>
    <md-grid-list
            md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="6px" md-gutter-gt-sm="3px">

        <md-grid-tile ng-repeat="tile in users"
                      md-rowspan="1"
                      md-colspan="1"
                      md-colspan-sm="1"
                      color-me
                      ng-click="showDetail(tile, $event)"
                      class="grid-item">
            <md-icon class="birthday-badge" ng-show="hasBirthday(tile.birthday)">cake</md-icon>
            <img src="../../img/user-icon.svg" width="150">
            <md-grid-tile-footer>
                <h3>{{tile.name}} {{tile.surname}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>