<md-dialog class="modal" aria-label="Mango (Fruit)"  ng-cloak flex="40" style="background-color: #F7F7F7">
    <form>
        <md-dialog-content layout="row">
            <div flex="40" layout="column" layout-align="bottom center" style="margin-top: 36px;">
                <div flex>
                    <form name="form">
                        <div class="button" ngf-select ng-model="avatar" name="avatar" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Select</div>
                        <br>
                        <!--<div ngf-drop ng-model="file" class="drop-box">Drop</div>-->
                        <button type="submit" ng-click="submit()">submit</button>
                    </form>
                </div>
                <img flex src="../../img/user-icon.svg" width="100">


                <div flex layout="row"  layout-align="center end">
                    <h2>{{member.name}} {{member.surname}}</h2>
                </div>
                <div flex layout="row"  layout-align="center end">
                    <h5 class="modal--area">{{member.area}}</h5>
                </div>
            </div>
            <md-card flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Detail Information</span>

                        <div class="details">
                            <div layout="row" layout-align="start center">
                                <md-icon flex="10">phone</md-icon>
                                <div flex>{{member.telephone}}</div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <md-icon flex="10">mail</md-icon>
                                <div flex><a href="mailto:{{member.email}}">{{member.email}}</a></div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <md-icon flex="10">date_range</md-icon>
                                <div flex>{{member.birthday}}</div>
                            </div>
                        </div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="hide('not useful')">
                close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>