<!--TODO: Add staffBook member fields.-->
<div class="ng-spotlight-results-detail-wikipedia">
    <div class="title">{{selectedItem.name}}</div>

    <table>
        <tr>
            <td>Location:</td><td>   {{selectedItem.location}}</td>
        </tr>
        <tr>
            <td>Area:</td><td>   {{selectedItem.area}}</td>
        </tr>
        <tr>
            <td>Birthday:</td><td>   {{selectedItem.birthday}}</td>
        </tr>
        <tr>
            <td>Telephone:</td><td>   {{selectedItem.telephone}}</td>
        </tr>
        <tr>
            <td>Email:</td><td>   {{selectedItem.email}}</td>
        </tr>

    </table>
    <div class="footer">
        <p>StaffBook Member</p>
    </div>
</div>